h1, h2{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(117, 56, 12)
}


body{
font-family:'Courier New', Courier, monospace;
color: rgb(109, 109, 109);
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(146, 95, 59)
}


p {
    font-family: 'Courier New', Courier, monospace;
    color:midnightblue
}


p {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(19, 11, 87);
    font-size: medium;
}



/* 
doctype, html, head, body, meta, title,
h1, h2, h3, p, link, ul, ol, img, a, hr
The following CSS properties:

background, color, font-family, font-size,
height, margin, padding, text-align */